.data-table,
.data-table .mantine-datatable-table,
.data-table .mantine-Table-tr:not(.data-table .mantine-Table-thead .mantine-Table-tr):not(:hover) {
    background: transparent;
}
.data-table .mantine-Table-thead .mantine-Table-tr {
    background: var(--mantine-datatable-background-color) !important;
}

.data-table .mantine-Table-thead .mantine-Table-tr:first-child {
    display: none;
}