.lb-data-collection {
    color: white;
    background-color: var(--mantine-color-dark-8);
    border-radius: var(--mantine-radius-md);
    box-shadow: 0 4px 16px rgba(0 0 0 / 50%);
}
.lb-grid {
    margin: var(--mantine-spacing-md);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 8px;
    justify-content: space-around;
}