@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@font-face {
    font-family: "shicon";
    src: url("/assets/shicon.woff");
}

@font-face {
    font-family: "zzz";
    src: url("/assets/zzz.woff2");
}

@font-face {
    font-family: "zzz-jp";
    src: url("/assets/zzz-jp.woff2");
}

@font-face {
    font-family: "zzz-cn";
    src: url("/assets/zzz-cn.woff2");
}

@font-face {
    font-family: "zzz-tw";
    src: url("/assets/zzz-tw.woff2");
}

@font-face {
    font-family: "zzz-kr";
    src: url("/assets/zzz-kr.woff2");
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mantine-Table-tr:not(.expandable-row):not(.mantine-Table-thead > .mantine-Table-tr) {
    cursor: pointer;
}

.mantine-Table-tr:not(.expandable-row):not(.mantine-Table-thead > .mantine-Table-tr):hover {
    background-color: var(--table-hover-color);
}

text {
    fill: white
}